.hero{
    display: flex;
    justify-content: space-evenly;
    background-color: #495e57;
    padding-top: 1.875rem;
    padding-bottom: 1rem;
}
.max-width{
    max-width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    gap: 1rem;
    
}

.hero-content h2{
        color: #f4ce14;
    }
.hero-content h3, .hero-content p{
        color: white;
    }

.hero-image{
    height: 24rem;
    justify-self: end;
    margin-bottom: -4.375rem;
    object-fit: cover;
    max-width: 95%;
    padding: 20px;
    border-radius: 2rem;
}